{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-8 offset-lg-2 mt-3">
        <form method="POST">

            <!-- Input for keywords -->
            <div class="form-group">
                <label for="search">Enter Keywords</label>
                <input type="text" name="search" class="form-control" id="search" placeholder="Enter keywords to research">
            </div>

            <!-- Button -->
            <input type="submit" class="btn btn-primary mt-2">

        </form>
    </div>
</div>

{% endblock %}
