{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="container">
<div class="row mt-3">
    <div class="col-lg-12"> <h2> Keyword: {{ kw }} </h2> </div>
</div>

<div class="row mt-3">
        <!-- Keyword Table-->
        <div class="col-lg-6 col-md-6 table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col"> Keyword </th>
                    <th scope="col">Word Count</th>
                  </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <th> {{ product[0] }} </th>
                            <th> {{ product[1] }} </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-lg-6">

            <canvas id="myChart" width="400" height="400"></canvas>
            
            <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [
                            {% for product in products %}
                                '{{ product[0] }}',
                            {% endfor %}
                        ],
                    datasets: [{
                        label: 'Keyword Frequency',
                        data: [
                            {% for product in products %}
                                '{{ product[1] }}',
                            {% endfor %}
                        ],
                        backgroundColor: [
                            {% for color in colors %}
                                '{{ color }}',
                            {% endfor %}
                        ],
                        borderWidth: 1
                    }]
                },
                options: {}
            });
            </script>
        
            </div>

        
</div>

<br/><hr/><br/>

<!-- Price Output -->
<div class="row">
    <div class="col-lg-6 col-md-6">
        <canvas id="priceChart" width="400" height="400"></canvas>
            
        <script>
        var ctx = document.getElementById('priceChart').getContext('2d');
        var priceChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: [
                        {% for label in priceLabels %}
                            '{{ label }}',
                        {% endfor %}
                    ],
                datasets: [{
                    label: 'Price Range for Number of Items',
                    data: [
                        {% for item in priceCount %}
                            '{{ item }}',
                        {% endfor %}
                    ],
                    backgroundColor: [
                        {% for color in priceColors %}
                            '{{ color }}',
                        {% endfor %}
                    ],
                    borderWidth: 1
                }]
            },
            options: {}
        });
        </script>
    </div>

    <div class="col-lg-6 col-md-6">
        <h2> Price Range & Cost to Buy </h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"> Minimum </th>
                    <th scope="col"> Maximum </th>
                    <th scope="col"> Average </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th> ${{ priceResult[0] }} </th>
                    <th> ${{ priceResult[1] }} </th>
                    <th> ${{ priceResult[2] }} </th>
                </tr>
            </tbody>
        </table>

        <h2> Number of Reviews </h2>
        <p> {{ reviewCount }} </p>
    </div>

</div>

<br/><hr/><br/>

<!-- Product Images! -->
<div class="row">
<h1> Competitor Product Images </h1>
<div class="col-lg-12 col-md-12">

    <div id="mdb-lightbox-ui"></div>

    <div class="mdb-lightbox">

    <div class="row">
        {% for x in range(3) %}
        <figure class="col-lg-4 col-md-4">
            <a href="{{ urls[x] }}" data-size="1600x1067">
            <img alt="picture" src="{{ urls[x] }}" class="img-fluid">
            </a>
        </figure>
        {% endfor %}
    </div>

    <div class="row">
        {% for x in range(3,6) %}
        <figure class="col-lg-4 col-md-4">
            <a href="{{ urls[x] }}" data-size="1600x1067">
            <img alt="picture" src="{{ urls[x] }}" class="img-fluid">
            </a>
        </figure>
        {% endfor %}
    </div>

    <div class="row">
        {% for x in range(6,9) %}
        <figure class="col-lg-4 col-md-4">
            <a href="{{ urls[x] }}" data-size="1600x1067">
            <img alt="picture" src="{{ urls[x] }}" class="img-fluid">
            </a>
        </figure>
        {% endfor %}
    </div>

    </div>

</div>
</div>
</div>
{% endblock %}
