{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="row mt-3">
    <div class="col-lg-12"> <h2> Keyword: {{ kw }} </h2> </div>
</div>

<div class="row mt-3">
        <!-- Keyword Table-->
        <div class="col-lg-6 col-md-6 table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col"> Keyword </th>
                    <th scope="col">Word Count</th>
                  </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <th> {{ product[0] }} </th>
                            <th> {{ product[1] }} </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-lg-6 col-md-6">
            <ul>
                <li> {{ priceResult[0] }}</li>
                <li> {{ priceResult[1] }}</li>
                <li> {{ priceResult[2] }}</li>
            </ul>
        </div>
</div>

<div class="row">
  <div class="col-lg-6">

    <canvas id="myChart" width="400" height="400"></canvas>
  <script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
          datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
  });
  </script>

  </div>
</div>

{% endblock %}
