{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12 mt-3">
        <h2> Keyword: {{ kw }} </h2>

        <table class="table" width="50%">
            <thead class="thead-dark">
              <tr>
                <th scope="col"> Keyword </th>
                <th scope="col">Word Count</th>
              </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <th> {{ product[0] }} </th>
                        <th> {{ product[1] }} </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <ul>
            <li> {{ priceResult[0] }}</li>
            <li> {{ priceResult[1] }}</li>
            <li> {{ priceResult[2] }}</li>
        </ul>

    </div>
</div>

{% endblock %}
